#content {
  position: relative;
  height: 100vh;
  margin: 0; }

#sideOptions {
  padding: 2em 2em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  opacity: 0.95;
  min-width: 300px; }
  #sideOptions h5 {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 0.25em; }
  #sideOptions .info {
    margin-top: 3em; }
  #sideOptions #interface {
    margin-top: 3em; }
  #sideOptions .cardTitle, #sideOptions .cardDesc {
    display: none; }

#map {
  padding: 0;
  height: 100%; }

.legend {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  z-index: 100;
  transition: box-shadow .25s;
  padding: 20px;
  margin: 0.5rem 0.5rem 1rem 0;
  border-radius: 3px;
  opacity: 0; }
  .legend h5 {
    margin-bottom: 1em; }
  .legend span {
    float: left;
    margin-bottom: 0.5em; }
  .legend svg {
    display: block;
    margin: auto; }
    .legend svg rect {
      rx: 3;
      ry: 3;
      stroke: #777;
      stroke-width: 1; }
    .legend svg text {
      fill: #fff;
      font-size: 1rem;
      font-weight: bold; }

#legend-flood svg rect, #legend-ethnicity svg rect {
  rx: 2;
  ry: 2; }

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
  border: 5px solid #0DFF92;
  background: #0DFF92; }

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #0DFF92; }

.switch label input[type=checkbox]:checked + .lever {
  background-color: #aaf2d2; }
