doctype html
html
	head
		title NYC Coastal Flooding and Heat Risk
		meta(name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no")
		script(src="https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js")
		link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet')
		link(rel='stylesheet',href='/css/materialize.min.css')
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel='stylesheet',href='./css/style.css')

	body
		block content
